body{
    background-image: url("fondoBody.jpg");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
}
h1{
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}

h2{
    color: burlywood;
    background-color: crimson;
    padding: 5px;
    margin: 2%;
}

section{
    background-color: rgba(0, 0, 0, 0.767);
    margin-left: 4%;
    margin-right: 4%;
    padding: 3%;
}

.botonEnlace{
    text-decoration: none;
    color: white;
    background-color: crimson;
    border: 5px;
    border-color: darkblue;
    border-style: inset;
    padding: 10px;
    margin:3px;
    font-size: 12px;
    border-radius: 20px;
}

.botonEnlace:hover{
    background-color: darkblue;
    border-color: crimson;
}

table{
    border: 6px;
    width: 90%;
    margin-top: 50px;
    margin-left: 2%;
    margin-right: 2%;
}

th{
    background-color: darkblue;
    color: lightskyblue;
}

#thBotones{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

td{
    background-color: rgb(65, 115, 207);
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 7px;
}

#tdBotones{
    background-color: rgb(0, 0, 0, 0);
}

input{
    margin: 7px;
}